@{
    ViewBag.Title = "Home Page";
}


<style>
    img {
        
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }      
</style>
<div>
    <img src="~/Images/donation.jpg" style="width:1150px">
</div>

